In [5]:
import pandas as pd

In [3]:
employee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
employee_names

['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']

In [4]:
print(employee_names)

['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']

In [6]:
type(employee_names)
print(type(employee_names))

<class 'list'>

In [11]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
3          Sara Johnson
dtype: object

In [8]:
print(employee_names_Series)

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
3          Sara Johnson
dtype: object

In [13]:
print(type(employee_names_Series))

<class 'pandas.core.series.Series'>

In [17]:
work_experience_yrs = pd.Series([5, 8, 3, 10])

In [18]:
print(work_experience_yrs)

0     5
1     8
2     3
3    10
dtype: int64

In [2]:
import numpy as np

In [7]:
array_age = np.array([50,53,35,43])
print(array_age)

[50 53 35 43]

In [6]:
array_1 = pd.Series(array_age)

In [ ]:
type(array_age)

pandas.core.series.Series

In [10]:
series_age = pd.Series(array_age)
print(series_age)

0    50
1    53
2    35
3    43
dtype: int32

In [20]:
print(type(array_age))
type(series_age)

<class 'numpy.ndarray'>

pandas.core.series.Series

In [ ]:
print(type(series_age))

<class 'pandas.core.series.Series'>