In [1]:
import pandas as pd

In [2]:
work_experience_years = pd.Series([5, 8, 3, 10])
print(work_experience_years)

0     5
1     8
2     3
3    10
dtype: int64

In [3]:
work_experience_years.dtype

dtype('int64')

In [4]:
work_experience_years.size

4

In [7]:
import numpy as np
work_experience_array = np.array(work_experience_years)
print(work_experience_array)

[ 5  8  3 10]

In [8]:
print(type(work_experience_years.to_numpy()))

<class 'numpy.ndarray'>

In [10]:
work_experience_years.name = 'Work Experience (Yrs.)'
print(work_experience_years)
print(work_experience_years.name)

0     5
1     8
2     3
3    10
Name: Work Experience (Yrs.), dtype: int64
Work Experience (Yrs.)