In [1]:
import pandas as pd

In [ ]:
workers_age = {'Amy White': 50, 'Jack Stewart' : 53, 'Richard Lauderdale' : 35, 'Sara Johnson' : 43}
workers_age

{'Amy White': 50,
 'Jak Stewart': 53,
 'Richard Lauderdale': 35,
 'Sara Johnson': 43}

In [3]:
workers_series = pd.Series(workers_age)

print(workers_series)

Amy White             50
Jak Stewart           53
Richard Lauderdale    35
Sara Johnson          43
dtype: int64

In [ ]:
print(type(workers_age))

dict

In [6]:
workers_age = pd.Series(workers_age)

print(workers_age)

Amy White             50
Jak Stewart           53
Richard Lauderdale    35
Sara Johnson          43
dtype: int64

In [7]:
print(type(workers_age))

<class 'pandas.core.series.Series'>

In [8]:
workers_age.index

Index(['Amy White', 'Jak Stewart', 'Richard Lauderdale', 'Sara Johnson'], dtype='object')

In [9]:
print(workers_age.index)

Index(['Amy White', 'Jak Stewart', 'Richard Lauderdale', 'Sara Johnson'], dtype='object')