In [1]:
import pandas as pd

In [4]:
import pandas as pd

# Membuat pandas Series
names = pd.Series(["Amy White", "Jack Stewart", "Richard Lauderdale", "Sara Johnson"])
age = pd.Series([50, 53, 35, 43])
working_experience_yrs = pd.Series([5, 8, 3, 10])

# Membuat dictionary yang berisi pandas Series
data = {
    "Name": names,
    "Age": age,
    "Working Experience (Yrs.)": working_experience_yrs
}

# Membuat DataFrame
df = pd.DataFrame(data)

# Menampilkan DataFrame
print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

In [5]:
data = [
    ["Amy White", 50, 5],
    ["Jack Stewart", 53, 8],
    ["Richard Lauderdale", 35, 3],
    ["Sara Johnson", 43, 10]
]

# Membuat DataFrame dari list
df = pd.DataFrame(data, columns=["Name", "Age", "Working Experience (Yrs.)"])

# Menampilkan DataFrame
print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

In [6]:
import pandas as pd

# Data awal
data = {
    "Name": ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age": [50, 53, 35, 43], 
    "Working Experience (Yrs.)": [5, 8, 3, 10]
}

# Membuat DataFrame dengan index mulai dari 1
df = pd.DataFrame(data, index=range(1, len(data["Name"]) + 1))

# Menampilkan DataFrame
print(df)

                 Name  Age  Working Experience (Yrs.)
1           Amy White   50                          5
2        Jack Stewart   53                          8
3  Richard Lauderdale   35                          3
4        Sara Johnson   43                         10