In [1]:
import pandas as pd

In [7]:
ser_product= pd.Series(data = ['iPhone', 'Samsung Galaxy', 'Google Pixel', 'Google Pixel', 'Samsung Galaxy', 'iPhone', 'iPhone', 'Google Pixel', 'Samsung Galaxy', 'iPhone'], index= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])
ser_prices = pd.Series(data = [800, 900, 850, 1000, 950, 700, 700, 900, 950, 1000], index= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

data = {'Product': ser_product, 'Price': ser_prices}
df = pd.DataFrame(data)
df

          Product  Price
A          iPhone    800
B  Samsung Galaxy    900
C    Google Pixel    850
D    Google Pixel   1000
E  Samsung Galaxy    950
F          iPhone    700
G          iPhone    700
H    Google Pixel    900
I  Samsung Galaxy    950
J          iPhone   1000

In [3]:
data = [['iPhone', 800], ['Samsung Galaxy', 900], ['Google Pixel', 850], ['Google Pixel', 1000], ['Samsung Galaxy', 950], ['iPhone', 700], ['iPhone', 700], ['Google Pixel', 900], ['Samsung Galaxy', 950], ['iPhone', 1000]]
df = pd.DataFrame(data)
df

                0     1
0          iPhone   800
1  Samsung Galaxy   900
2    Google Pixel   850
3    Google Pixel  1000
4  Samsung Galaxy   950
5          iPhone   700
6          iPhone   700
7    Google Pixel   900
8  Samsung Galaxy   950
9          iPhone  1000

In [4]:
df.shape

(10, 2)