In [ ]:
s = "Administrative expenses"
print(s)

'Administrative expenses'

In [4]:
s1 = s.replace("Administrative", "Selling")
print(s1)

Selling expenses

In [5]:
s.startswith("Admin")

True

In [6]:
print(s1.startswith('Sell'))

True

In [7]:
print(s1.startswith('sell'))

False

In [8]:
print(s1.endswith('diture'))

False

In [9]:
print(s1.endswith('ses'))

True

In [10]:
print(s1.split())

['Selling', 'expenses']

In [11]:
print(s1.split(''))

ValueError: empty separator

In [12]:
print(s1.split(' '))

['Selling', 'expenses']

In [14]:
print(s1.split('s'))

['Selling expen', 'e', '']

In [16]:
s2 = 'personal ID, first name, last name, date of birth, place of birth, city of birth'
print(s2)

personal ID, first name, last name, date of birth, place of birth, city of birth

In [17]:
s2.split(',')
print(s2.split(','))

['personal ID', ' first name', ' last name', ' date of birth', ' place of birth', ' city of birth']

In [18]:
print(len(s2.split(',')))

6

In [19]:
print(len(s2))

80

In [ ]:
list_01 = s2.split(",")
print(list_01)

['personal ID', 'first name', 'last name', 'date of birth', 'place of birth', 'city of birth']

In [21]:
print(len(list_01))

6